.flash-card-header-container {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.flash-card-header-title {
  flex-grow: 1;
}

.add-set-content {
  position: relative;
  padding: 10px;
}

.add-set-textfield {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
}

.flash-card-content-container {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
}

.flash-card-content-item {
  padding: 10px 10px 5px 10px;
  margin: 0 10px 10px 0;
  width: 34%;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flash-card-content-item-border {
  height: 100%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.flash-card-content-item-border:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
  cursor: pointer;
}

.flash-card-content-edit-icon:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.flash-card-content-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 10px;
  width: 50%;
}

.flash-card-content-right {
  width: 50%;
  max-height: 150px;
}

.flash-card-content-left-header {
  margin-bottom: 10px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.flash-card-content-content {
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 150px;
  flex-grow: 1;
}

.flash-card-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.flash-card-content-left-subtitle {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 0.8em;
  color: #aaa;
}

.flash-card-content-image {
  width: 100%;
}

.edit-set-header-container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100px;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  z-index: 3;
}

.edit-set-header-left-panel {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px;
  border-radius: 5px;
}

.edit-set-header-right-panel {
  width: 50%;
  text-align: right;
  padding: 10px;
}

.edit-set-header-right-image {
  width: 50%;
  height: 100%;
  text-align: right;
}

.edit-set-header-content-left {
  width: 50%;
}

.edit-set-header-content-left-title {
  font-weight: bold;
  font-size: 1.5em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.edit-set-header-content-left-subtitle {
  display: flex;
  justify-items: center;
  align-items: center;
  color: #aaa;
  font-size: 0.8em;
}

.edit-set-header-content-image {
  width: auto;
  height: 100%;
}

.edit-set-header-left-panel-border {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.edit-set-content-add {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}

.edit-set-content-complete {
  margin: 10px;
  text-align: right;
}

.edit-set-content-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 75%;
}

.edit-set-content-item-image {
  display: flex;
  width: 15%;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  border: 1px dashed #aaa;
}

.edit-set-content-image-icon:hover {
  color: var(--root-color);
  cursor: pointer;
}

.modify-set-content-item-image {
  display: flex;
  width: 200px;
  height: 120px;
  padding: 10px;
  margin-left: 10px;
  flex-direction: column;
  text-align: center;
  border: 1px dashed #aaa;
}

.edit-set-content-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  height: 25%;
}

.edit-set-content-item-paper {
  margin-top: 10px;
  height: 130px;
  position: relative;
}

.edit-set-content-item-delete:hover {
  color: var(--root-color);
  cursor: pointer;
}

.edit-set-image-wrap {
  position: relative;
  text-align: center;
  height: 100%;
  width: 15%;
}

.edit-set-image-wrap:hover {
  background-color: #eee;
  filter: brightness(1);
  border: 1px dashed #aaa;
}

.modify-set-image-wrap {
  position: relative;
  margin-left: 10px;
  text-align: center;
  height: 120px;
  width: 200px;
}

.edit-set-image-wrap-delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  border-radius: 5px;
  background-color: #455358;
  color: white;
}

.edit-set-image-wrap-delete-icon:hover {
  color: var(--root-color);
  cursor: pointer;
}

.modify-set-dialog-wrap-button {
  padding: 0px 10px 10px 10px;
}

.set-page-filp-card-content {
  overflow: hidden;
  text-align: center;
}

.set-page-filp-card-paper {
  text-align: center;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.set-page-filp-card-paper-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 2em;
}

.set-page-filp-card-paper:hover {
  cursor: pointer;
}

.set-page-filp-card-navigate {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

.set-page-filp-card-paper-definition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-page-filp-card-paper-image {
  width: 40%;
  height: auto;
  margin-right: 10px;
}

.set-page-filp-card-paper-definition-content {
  font-size: 0.8em;
}

.set-page-filp-card-navigate-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.set-page-filp-card-navigate-icon:hover {
  cursor: pointer;
  color: #3f51b5;
}

.set-page-filp-card-flex {
  display: flex;
  align-items: center;
  padding: 10px;
}

.set-page-filp-card-flex:hover {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 5px;
}

.set-page-filp-card-flex-icon {
  margin-right: 5px;
}

.set-page-filp-card-icon {
  position: relative;
}

.set-page-left-header {
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.set-page-bottom-header-flex {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.set-page-bottom-header {
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 10px;
}

.set-page-bottom-paper {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 100px;
  padding: 10px;
}

.set-page-bottom-paper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.set-page-bottom-left {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid #dddddd;
  flex: 10;
}

.set-page-bottom-right {
  margin-left: 10px;
  flex: 15;
}

.set-page-bottom-image {
  flex: 5;
  height: 100%;
}

.practice-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.practice-page-item {
  margin-top: 10px;
}

.write-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 430px;
  margin-left: 10px;
  padding: 10px;
}

.write-page-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.write-page-image {
  width: 40%;
  margin-right: 10px;
}

.write-page-definition {
  width: 60%;
}

.write-page-form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 10px;
}

.write-page-result-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.write-page-result-title {
  font-weight: bold;
  font-size: 1.5em;
}

.write-page-result-subtitle {
  font-weight: bold;
  color: #aaaaaa;
  font-size: 1.2em;
}

.write-page-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 20%;
}

.write-page-result-content {
  overflow: auto;
}

.write-page-result-name {
  width: 35%;
}

.write-page-result-definition {
  width: 45%;
}

.write-page-result-image {
  height: 100%;
  width: 20%;
}

.write-page-correct-answer-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.write-page-correct-answer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.write-page-correct-answer-header {
  width: 50%;
}

.write-page-correct-answer-image {
  height: 100%;
  width: 30%;
}

.write-page-correct-answer-item {
  width: 50%;
}

.write-page-font-bold {
  font-weight: bold;
  font-size: 1.2em;
}

.progress-green {
  background-color: #4caf50;
}

.study-page-choice-right-item {
  background-color: #4caf50;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
}

.study-page-choice-item {
  position: relative;
  width: 25%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.study-page-choice-item:hover {
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.study-page-choice-number {
  position: absolute;
  width: 1.5rem;
  font-size: 1rem;
  height: 1.5rem;
  background-color: white;
  top: -13px;
  left: -13px;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
}

.study-page-left-icon {
  margin: 10px 0px 10px 0px;
}

.study-set-dialog-container {
  width: 450px;
  height: 100px;
  padding: 10px 5px 10px 5px;
}

.study-set-dialog-item {
  display: block;
  height: 100%;
  margin: 0px 5px 0px 5px;
  width: 33%;
}

.flash-card-header-search {
  margin-left: 5px;
}

.flash-card-header-search:hover {
  cursor: pointer;
}
