.assignment-dialog-container {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  margin: 0;
  z-index: 2;
  background-color: #f7f7f3;
}

.MuiDialog-paperWidthSm {
  max-width: 1200px;
}

.assigment-dialog-header {
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid var(--root-color);
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}

.assigment-dialog-header-title {
  flex-grow: 1;
}

.assigment-dialog-close-icon {
  color: var(--root-color);
  margin: 0px;
  padding: 0px !important;
}

.assigment-dialog-content-panel {
  padding: 10px;
  height: 100%;
  overflow: auto;
  display: flex;
}

.assignment-dialog-content-left-panel {
  flex: 7;
  display: flex;
  justify-content: center;
}

.assignment-question-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px 10px 10px 0;
}

.answer-list-left-panel-container {
  padding: 10px;
}

.assignment-user-answer-list {
  display: flex;
  flex-direction: row;
}

.assignment-question-item-title {
  font-weight: bold;
}

.assignment-item {
  margin-bottom: 10px;
}

.content-left-panel {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-detail-panel {
  display: flex;
  flex-direction: row;
}

.clock-panel {
  background-color: #fff9c4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-image {
  width: 20% !important;
  height: auto;
}

.remain-time-detail {
  color: var(--root-color);
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.assignment-info-panel {
  width: 100%;
}

.remain-time-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.duration-of-assignment {
  display: flex;
  padding: 5px;
  background-color: #ffeaea;
}

.number-of-question {
  display: flex;
  padding: 5px;
  background-color: #e3deff;
}

.assignment-dialog-content-right-panel {
  flex: 15;
  overflow-y: auto;
}

.assignment-user-answer-content {
  position: relative;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.assignment-submit-button {
  padding: 5px;
  width: 95%;
}

.assignment-user-answer-doesnt-have-children {
  display: flex;
  align-items: center;
}

.assignment-user-answer-have-children {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assignment-user-answer-children {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assignment-user-answer-label {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  color: var(--root-color);
}

.assignment-dialog-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0.1;
  background-color: #eee;
}

.assignment-dialog-right-radio-group {
  position: relative;
}
