.category-link {
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

.category-children-link {
  padding-left: 30px;
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

.category-content {
  margin-left: 10px;
}
