:root {
  --main-color: #3f51b5;
  --main-background-color: #f8fdff;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', 'Aldrich' -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  height: 100%;
  width: 100%;
}

div {
  font-family: 'Montserrat Alternates', 'Aldrich';
}

h1 {
  font-family: 'Montserrat Alternates', 'Aldrich';
}

h2 {
  font-family: 'Montserrat Alternates', 'Aldrich';
}

code {
  font-family: 'Montserrat Alternates', 'Aldrich', source-code-pro, Menlo,
    Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.main-loading {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
