.custom-block-panel {
  margin-bottom: 10px;
}

.custom-block-header-panel {
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid var(--root-color);
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}

.custom-block-content-panel {
  position: relative;
  padding: 10px;
}

.user-info-title-panel {
  overflow-x: hidden;
  align-items: center;
}

.user-info-content-panel {
  padding-top: 10px;
  padding-bottom: 10px;
}
