.toeci-progress-panel-container {
  text-align: center;
}

.toeci-progress-panel-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.toeci-progress-panel-input {
  margin-left: 10px;
  width: 10%;
  padding: 0;
}
