.progress-panel-container {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.progress-panel-container:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
}

.progress-panel-title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.progress-panel-title-header {
  font-weight: bold;
}

.progress-panel-text {
  display: flex;
  min-width: 120px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress-panel-title-content {
  text-align: center;
  font-size: 0.8em;
  color: #777777;
}

.progress-panel-user-progress-container {
  width: 55%;
}

.progress-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-panel-button {
  margin-left: 10px;
}

.progress-panel-current-score-part {
  position: absolute;
  top: -46%;
  width: 40px;
  background-color: var(--root-color);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
}

.progress-panel-current-score-part::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--root-color) transparent transparent transparent;
}

.progress-panel-target-score-part {
  position: absolute;
  right: -8px;
  top: 60%;
  width: 40px;
  background-color: var(--root-color);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
}

.progress-panel-target-score-part::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--root-color) transparent;
}

.progress-panel-min-score-part {
  width: 40px;
  background-color: var(--root-color);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  position: absolute;
  left: -8px;
  top: 60%;
}

.progress-panel-min-score-part::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--root-color) transparent;
}
